body {
    font-family: Arial, sans-serif;
    background-color: #003d52;
}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin: 10px 0;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    width: 100%;
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}