:root {
    --large-default-padding: 8em;
    --medium-default-padding: 6em;
}

body{
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin:0;
background-color: #eaeaea;

}
.principal {
    width: 100%;
    margin: 0em auto;
}

.hero-banner{
    background-image: url(banner.jpg);
height: 600px;
background-position: center;
background-repeat: no-repeat;
text-align: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
background-color: #006f94;
}
.hero-banner h1{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006f94;
    margin-top: 0px;
    padding: 20px;
    text-transform: uppercase;
}
.hero-menu{
background-color: #006f94;
padding: 7px;
align-items: center;
display: flex;
justify-content: space-between;
margin: 0px ;
}
.search-container {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    margin-left: 80px;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos opcionais para o botão */
.search-button:hover {
    background-color: #0056b3;
}
#icons-login{
    height:30px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    
}
#icons{
    height: 30px;

}
.logotipo{

    font-family: 'Roboto';font-size: 1.5em;
color: white;
text-transform: uppercase;
padding: 3px;

}
.hero-nav ul{

text-align:right;
margin: 0 30px;

}
.hero-nav li{
    
    display: inline-block;
    margin-left: 2em;
    
}
.hero-nav a{
    text-decoration: none;
    color: rgb(205, 205, 205);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
   
}
.hero-nav a:hover{

    transition: 600ms;
    color: white;
    

}
.portfolio{

text-align: center;
padding: var(--medium-default-padding) var(--large-default-padding);
position: relative;
top: 75px;

}
.portfolio h2{
box-shadow: 0px 3px 4px 2px  black;
font-size: 2em;
background-color: #00688b;
color: rgb(255, 255, 255);
padding: 30px;
border-radius: 5px;

}
.gallery {
    padding: var(--large-default-padding) var(--medium-default-padding);
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 4em;
}
.gallery-card {
    text-align: center;
    margin: 0px;
    background-color: white;
    text-decoration: none;
}
.gallery-card img{
    height: 250px;
    position: relative;
    top: 3px;
}
.gallery-card:hover{
    box-shadow: 0px 5px 5px 3px rgb(188, 188, 188);
    
}
.gallery-title {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0px;
    padding: 1px;
    background-color: white;
    color: black;
   
    border-radius: 5px;
}
.gallery-text{
    color: black;
    background-color: white; 
    padding: 1em;
    position: relative;
    bottom: 19px;
   
}
.button{
    background-color: #003d52;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
.button p{
    text-decoration: none;

}
.about{
    background-color: #003d52;
    padding: var(--large-default-padding);
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
footer{
    background: #0a161d;
    padding: 1.20em;
    font-size: .75em;
    color: #cdcdcd;
    letter-spacing: .3em;
    text-align: center;
    
}

